* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
  

#cabeçalho {
  padding: 50px;
  color: beige;
  flex-wrap: wrap;
  background-color:  rgb(29, 28, 28);;
  text-align: center;
  padding: 70px;
}

.nav ul {
    display: flex;
    justify-content: end;
}

.nav li{
    display: flex;
    list-style: none;
    font-size: 15px;
   }
      
   .nav li a{
    text-decoration: none; 
    padding: 10px ; 
    color: beige; 
    border-radius: 5px;
   }
      
   .nav li :hover {
    transition: 1s;
    cursor: pointer;
    color: aqua;
   }


#seção {
padding: 150px;
font-size: 20px ;
background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
}

#seção h2 {
 margin-top: 50px;
 font-size: 3em;
 color: rgba(0, 0, 0, 0.822);
 }

#seção button {
    padding: 20px; 
    border-radius: 50px;
    width: 20vw; 
    cursor: pointer;
    border-color: rgb(19, 153, 108); 
    margin: 30px; 
}

#seção button a {
    text-decoration: none;
    color: #2693da; 
    font-size: 15px; 
}

#seção p {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.822);
}

#seção button:hover {
    background-color: rgb(90, 168, 168);
    border-color: black; 
    transition: 0.5s;
}

#seção button a:hover{
    color: blue ;
    transition: 0.8s;
}

#app {
    padding: 100px; 
    background-color: rgb(226, 233, 233);
    display: flex;
    justify-content: space-around;
}


#app button { 
    padding: 20px; 
    border-radius: 50px;
    width: 20vw; 
    cursor: pointer;
    border-color: rgb(19, 153, 108); 
    margin: 30px; 
}


#app p{ 
    font-size: 3em;
    text-decoration: none;
}

#app button:hover{
    background-color: rgb(90, 168, 168);
    border-color: black; 
    transition: 0.5s;
}

#app button a {
    text-decoration: none;
    color: #2693da; 
    font-size: 15px; 
}

#app  button a:hover{
    color: blue ;
    transition: 0.8s;
}

#app img {
    width: 450px; 
    height: 450px; 
    margin-left: 50px;
    margin-top: -70px; 
}


#SA { 
    padding: 40px; 
    background-color: rgb(226, 233, 233);
    flex-wrap: wrap; 
}

#SA h2 { 
    font-size: 40px; 
    color: rgb(34, 34, 74); 
    text-align: center; 
}

#SA p { 
    font-size: 20px;
    margin-top: 30px; 
    color: rgba(0, 0, 0, 0.781);
    text-align: justify; 
}


#SA button { 
    padding: 20px; 
    border-radius: 50px;
    width: 20vw; 
    cursor: pointer;
    border-color: rgb(19, 153, 108); 
    margin: 30px; 
}
   


#SA button:hover{
    background-color: rgb(90, 168, 168);
    border-color: black; 
    transition: 0.5s;
}

#SA button a {
    text-decoration: none;
    color: #2693da; 
    font-size: 15px; 
}

#SA  button a:hover{
    color: blue ;
    transition: 0.8s;
}

.linha { 
    margin-top: 20px; 
    margin-left: 190px;
    width: 70%;
}

#SA img { 
    margin-left: 350px; 
    margin-top: 30px;
    width: 400px; 
}


#cofre { 
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(https://www.qsbank.com.br/wp-content/uploads/2022/02/texture4-1.jpg); 
   background-position: center; 
   background-attachment: fixed; 
    background-color:  #7bc4ed;
    background-attachment: fixed;
    padding: 260px; 
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
 }
 
 
 #cofre img {
     width: 290px; 
     margin-top: 22px; 
     height: auto;
     flex-wrap: wrap;
 }
 
 #cofre h2 { 
     
     color: white; 
     font-size: 30px;
     text-align: center;
 }
 
 #cofre p { 
     color: white;
     font-size: 17px;
     text-align: center;
     margin-top: 20px;
     margin-left: 10px; 
 }
 
#rodapé {
    padding: 80px; 
    background-color: rgb(29, 28, 28);; 
    text-align: center;

}

#rodapé img { 
    width: 150px; 
    height: 80px; 
    margin-top: -50px;
    margin-bottom: 15px;
}

#rodapé p { 
    color: rgba(245, 245, 220, 0.5); 
    font-size: 18px; 
}

.item-rodapé { 
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between; 
    
}

.item-rodapé a { 
    color: rgba(255, 255, 255, 0.5); 
    text-decoration: none; 
    font-size: 20px;
}

.item-rodapé a:hover{ 
    color: rgba(232, 8, 202, 0.767); 
    transition: 0.8s; 
} 